body {
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 140px;
  text-align: left;
  font-weight: bold;
}

.block {
  margin-bottom: 10px;
}

form {
  display: inline-block;
  border: 2px solid blue;
  padding: 5px;
}

input[type="submit"] {
  background-color: #015294;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

a[name="btnBack"] {
  background-color: #015294;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  text-align: center;
  margin-left: 220px;
  padding: 0px 10px;
}

.sidenav h2 {
  color: #f2f2f2;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}
